.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

input {
  margin-bottom: 5vh;
}

video {
  background-color: black;
  width: 40%;
  margin-bottom: 5vh;
}

a {
  display: block;
}

span {
  padding: 10px;
  width: 40%;
}