@use 'sass:color';
@use 'styles' as *;

.Card {
  width: rem(420px);
  background-color: background(dark);
  padding: spacing(3);
}

.Title {
  @include center;
  align-items: center;
  gap: spacing(1.5);
}

.Submit {
  @include font-size(body-large);
  width: 100%;
  color: background(darker);
  background-color: palette("gold");
  padding: spacing(0.5);

  @include hover {
    background-color: color.adjust(palette("gold"), $lightness: 5%);
  }

  @include active {
    background-color: color.adjust(palette("gold"), $alpha: -0.1);
  }
}

.Form {
  margin: spacing(2) 0;
}

.Field {
  @include font-size(body-large);
  margin-bottom: spacing(2);
}
