@use 'styles' as *;

.Heading {
  @include center;
  width: 100%;

  h2 {
    @include text-heading;
    @include font-size(display-small);
    text-align: center;
    width: 70%;
  }
}

@include screen(500px) {
  .Heading {
    h2 {
      @include font-size(display-medium);
    }
  }
}

@include screen(710px) {
  .Heading {
    h2 {
      @include font-size(display-large);
    }
  }
}
