@use 'styles' as *;

.Modal {
  @include border-radius(small);
  width: rem(420px);
  height: rem(316px);
  max-width: 100%;
  background-color: palette(surface, 4);
  padding: spacing(3);
}

.Panel {
  background-color: palette(surface, 4);
  padding: spacing(3);
  max-width: 100%;
}

.Cancel {
  position: absolute;
  top: spacing(1.5);
  right: spacing(1.5);
  z-index: 2;
  background-color: palette(surface, 8);

  @include hover {
    background-color: palette(surface, 9);
  }
}

.Center {
  @include expand;
  @include center(stretch);
  flex-direction: column;
}

.Rule {
  background-color: palette(surface, 6);
}

.Title {
  @include center;
  align-items: center;
  gap: spacing(1.5);
}

.Email {
  @include font-size(body-large);
  margin-bottom: spacing(2);
  background-color: palette(surface, 2);
}

.Submit {
  @include font-size(body-large);
  width: 100%;
  color: palette(surface, 4);
  background-color: palette(gold, 8);
  padding: spacing(0.5);

  @include hover {
    background-color: palette(gold, 9);
  }

  @include active {
    background-color: palette(gold, 7);
  }
}

.Options {
  @include center;
}

.Option {
  @include font-size(display-small);
  @include center;
  gap: spacing(1.5);
  background-color: palette(surface, 7);
  padding: spacing(1);

  @include hover {
    background-color: palette(surface, 8);
  }

  @include active {
    background-color: palette(surface, 6);
  }
}

.Confirmation {
  @include center;
  flex-direction: column;
  gap: spacing(1);
}

.EmailIcon {
  font-size: rem(60px);
  color: palette(grey, 12);
}

.EmailDecorator {
  @include border-radius(full);
  @include elevation(2);
  background-color: palette(surface, 4);
  position: absolute;
  bottom: rem(4px);
  right: rem(-10px);
}

.Valid {
  color: palette(green);
}

.Invalid {
  color: palette(red);
}

.SemiBold {
  @include font-weight(semi-bold);
}
