@use 'styles' as *;

.Layout {
  padding: spacing(10) spacing(5);
}

.Body {
  max-width: rem(1200px);
  margin: 0 auto;

  h2 {
    @include text-heading(display-medium);
  }

  h3 {
    @include text-heading(display-small);
  }

  h4 {
    @include text-subheading;
    margin-top: spacing(0.5);
  }

  p {
    @include text-paragraph;
  }
}

@include screen(1100px) {
  .Layout {
    padding: spacing(10);
  }

  .Body {
    h2 {
      @include font-size(display-large);
    }

    h3 {
      @include font-size(display-medium);
    }
  }
}
