@use 'styles' as *;
@use 'sass:color';

.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: palette(white);
  
  h1 {
    @include text-heading;
    display: flex;
    gap: spacing(1);
    font-size: rem(50px);
    margin-top: calc(50vh - 120px);
  }

  h2 {
    @include text-heading;
    @include font-size(display-small);
    text-align: center;
    margin-top: spacing(1);
  }
}

.Graphics {
  @include expand(absolute);
}

.Icon {
  flex-shrink: 0;
  height: 100%;
  font-size: rem(50px);
}

.CallsToAction {
  display: flex;
  flex-direction: row;
  gap: spacing(1.5);
  margin-top: spacing(4);
}

.Link {
  @include text-heading;
  @include font-size(paragraph);
  @include border-radius(small);
  display: flex;
  flex-direction: row;
  gap: spacing(1);
  padding: spacing(1) spacing(1.5);
}

.GitHub {
  background-color: palette(surface, 5);

  @include hover {
    background-color: palette(surface, 6);
  }
}

.Discord {
  background-color: #7289da;

  @include hover {
    background-color: color.adjust(#7289da, $lightness: 5%);
  }
}

@include screen(850px) {
  .Landing {
    h1 {
      font-size: rem(100px);
      margin-top: calc(50vh - 180px);
    }

    h2 {
      @include font-size(display-medium);
      margin-top: spacing(2);
    }
  }

  .CallsToAction {
    gap: spacing(3);
  }

  .Link {
    @include font-size(paragraph-large);
    padding: spacing(1.5) spacing(2);
  }

  .Icon {
    font-size: rem(100px);
  }
}

@keyframes show-more {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

.DownArrow {
  position: absolute;
  bottom: spacing(2);
  animation: {
    name: show-more;
    duration: duration(slowest);
    iteration-count: infinite;
    direction: alternate;
  }
}
