@use 'styles' as *;

.Topbar {
  display: flex;
  align-items: stretch;
}

@include screen(850px) {
  .Topbar {
    .NavigationContainer, .SearchContainer, .AccountContainer {
      width: 100%;
      flex: 1 1 auto;
    }
  }
}

.NavigationContainer {
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: spacing(1.5);
}

.SearchContainer {
  @include center;
}

.AccountContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: spacing(1);
  margin-right: spacing(1);
}
