@use 'sass:color';
@use 'styles' as *;

.Preview-column {
  display: flex;
  flex-direction: column;
  gap: spacing(1);
}

.Preview-row, .Preview-compact {
  display: flex;
  gap: spacing(1);
}

.Link {
  @include expand(absolute);

  & > a {
    @include expand(absolute);
    z-index: 1;
  }
}

.Item-row {
  min-width: rem(250px);
}

.Item-compact {
  min-width: rem(500px);
}

.Duration {
  @include border-radius(smallest);
  position: absolute;
  bottom: spacing(0.5);
  right: spacing(0.5);
  padding: 0 spacing(0.5);
  background-color: palette(overlay, opaque);
}

.DurationText {
  @include font-weight(bold);
}

.Timeline {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: rem(3px);
  background-color: palette(slider, track);
  border-bottom-left-radius: border-radius(smallest);
  border-bottom-right-radius: border-radius(smallest);
}

.TimelineProgress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: palette(gold);
}
