@use 'sass:color';
@use 'styles' as *;

.Overlay {
  @include expand(absolute);
}

.Tint {
  background-color: hsla(0, 0%, 0%, 0.5);
}

.Signal {
  font-size: icon(larger);
  padding: spacing(1);
  z-index: 2;
}

.Icon {
  @include expand(absolute);
  @include center;
  pointer-events: none;
}

.Loading {
  transform: rotate(-65deg);
}

.Controls {
  @include expand(absolute);
}

.Target {
  @include expand(absolute);
}

.Timeline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.Fullscreen {
  .Controls {
    bottom: rem(20px);
  }

  .Timeline {
    left: rem(20px);
    right: rem(20px);
    bottom: rem(20px);
  }
}

.Inactive {
  pointer-events: none;
}
