@use 'sass:color';
@use 'styles' as *;

.HomeLink {
  flex-shrink: 0;
  padding: 0 spacing(1);
}

.Logo {
  height: 100%;
}

.Tabs {
  @include font-size(display-small);
  flex-shrink: 0;
}

.Tab {
  flex-shrink: 0;
}

.Misc {
  flex-shrink: 0;
  align-self: center;

  @include hover {
    background-color: palette(surface, 6);
  }
}

.Menu {
  @include elevation(6);
  min-width: rem(180px);
  background-color: palette(surface, 4);

  & > *:first-child {
    margin-top: spacing(1);
  }

  & > *:last-child {
    margin-bottom: spacing(1);
  }
}

.MenuItem {
  @include font-size(body-large);
  padding: spacing(0.5) spacing(1.5);
  
  @include hover {
    background-color: palette(surface, 6);
  }
}

.MenuSection {
  @include font-size(body);
  @include font-weight(semi-bold);
  @include text-condensed;
  @include text-uppercase;
  color: palette(typography, subdued);
  padding: spacing(0.5) spacing(1.5);
}
