@use 'styles' as *;

.Markup {
  h3 {
    margin-top: spacing(5);
    margin-bottom: spacing(2);

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    @include font-size(paragraph-large);
    margin-bottom: spacing(2);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
