@use 'styles' as *;

.Container {
  @include expand(absolute);
}

.Settings {
  width: 100%;
  margin-top: 40vh;
  padding: spacing(1) 0;
  background-color: hsla(0, 0%, 12%);
  z-index: 20;

  .Item:first-of-type {
    margin-top: spacing(1);
  }

  .Item:last-of-type {
    margin-bottom: spacing(1);
  }
  
  &:before {
    @include border-radius(small);
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    height: rem(4px);
    background-color: hsla(0, 0%, 10%);
  }
}

@media (orientation: landscape) {
  .Settings {
    margin-top: 20vh;
  }
}

.Item {
  @include font-size(body-large);
  @include font-weight(semi-bold);
  display: flex;
  align-items: center;
  gap: spacing(1);
  padding: spacing(1) spacing(3);
  user-select: none;
  transition: background-color duration(fastest) ease;

  @include active {
    background-color: hsla(0, 0%, 14%);
  }

  sup {
    @include font-size(caption);
    @include font-weight(bold);
    margin-left: rem(4px);
    vertical-align: top;
    color: palette(red);
  }

  &:before {
    @include border-radius(full);
    content: "";
    display: block;
    width: rem(8px);
    height: rem(8px);
  }

  &[aria-selected]:before {
    background-color: palette(gold);
  }
}
