@use 'styles' as *;

.Tabs {
  @include font-size(display-small);
  height: spacing(3);
  gap: spacing(1.5);
}

.Rule {
  background-color: background(dark);
  margin: rem(-2px) 0 spacing(3);
  z-index: -1;
}

.Heading {
  margin-bottom: spacing(2);
}
