@use 'sass:color';
@use 'styles' as *;

.Invalid {
  flex-direction: column;
  gap: spacing(2);
}

.HomeLink {
  @include font-size(body-large);
  color: palette(blue, 8);

  @include hover {
    color: palette(blue, 9);
  }
}

.Container {
  @include expand(fixed);
  @include center;
}

.Spinner {
  font-size: rem(70px);
}
