@use 'styles' as *;

.Page {
  margin: spacing(2) spacing(1);
}

.Loading {
  @include expand(fixed);
  @include center;
}

.Spinner {
  font-size: rem(70px);
}

@include screen(650px) {
  .Page {
    margin: spacing(3);
  }
}

.NoMargin {
  margin: 0;
}
