@use 'styles' as *;

.Avatar {
  width: rem(100px);
  height: rem(100px);
}

@media screen and (min-width: 650px) {
  .Avatar {
    width: rem(150px);
    height: rem(150px);
  }
}

.Loading {
  @include expand;
  @include center;
  min-height: rem(450px);
}

.Spinner {
  font-size: rem(70px);
}

.Tint {
  @include expand(absolute);
  @include border-radius(full);
  background-color: palette(overlay, opaque);
}

.Icon {
  @include border-radius(full);
  @include elevation(3);
  position: absolute;
  top: spacing(0.5);
  right: spacing(0.5);
  color: palette(grey, 5);
  background-color: palette(grey, 14);
  padding: rem(7px);
}

.Text {
  @include text-heading;
  @include font-size(body-large);
  @include expand(absolute);
  @include center;
  padding: spacing(2);
}

.Modal {
  @include border-radius(small);
  width: rem(560px);
  max-width: 100%;
  background-color: palette(surface, 4);
  padding: spacing(3);
}

.Image {
  @include elevation(4);
}

.Controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: spacing(1);
  margin-top: spacing(2);
}

.Button {
  padding: spacing(0.5) spacing(1.5);
}

.Submit {
  color: palette(surface, 2);
  background-color: palette(gold, 8);

  @include hover {
    background-color: palette(gold, 9);
  }

  @include active {
    background-color: palette(gold, 7);
  }
}

.Cancel {
  background-color: palette(surface, 8);

  @include hover {
    background-color: palette(surface, 9);
  }

  @include active {
    background-color: palette(surface, 7);
  }
}
