@use 'sass:color';
@use 'styles' as *;

.Timeline {
  height: rem(3px);
  background-color: palette(slider, track);
  touch-action: none;

  &:before {
    content: "";
    position: absolute;
    top: rem(-12px);
    right: 0;
    bottom: rem(-12px);
    left: 0;
  }

  &[data-active] .Progress:after {
    transform: scale(1);
  }

  &[data-scrubbing] .Progress:after {
    transform: scale(1.25);
  }
}

.Buffer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: palette(slider, track);
}

.Progress {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: palette(gold);

  &:after {
    @include border-radius(full);
    content: "";
    position: absolute;
    right: rem(-6px);
    width: rem(12px);
    height: rem(12px);
    background-color: palette(gold);
    transform: scale(0);
    transition: transform 150ms ease;
  }
}

.ScrubReference {
  position: absolute;
}

.Text {
  @include font-weight(bold);
  font-stretch: condensed;
  user-select: none;
  opacity: 0;
  transition: opacity 150ms ease;
  pointer-events: none;
}

.TextActive {
  opacity: 1;
}
