@use 'styles' as *;

.Layout {
  padding: spacing(10) spacing(2);
}

.Body {
  max-width: rem(1200px);
  margin: 0 auto;

  h3 {
    @include text-heading(display-medium);
  }

  h4 {
    @include text-subheading;
    margin-top: spacing(0.5);
  }

  p {
    @include text-paragraph;
  }
}

@include screen(800px) {
  .Body h3 {
    @include font-size(display-large);
  }
}
