@use 'sass:color';
@use 'styles' as *;

.Avatar {
  padding: 0;
  flex-shrink: 0;
}

.Menu {
  min-width: rem(200px);
  background-color: palette(surface, 4);
}

.MenuItem {
  padding: spacing(1) spacing(1.5);

  @include hover {
    background-color: palette(surface, 6);
  }
}

.SignIn {
  background-color: palette(gold);
  color: palette(surface, 2);
  padding: spacing(0.5) spacing(1);
  flex-shrink: 0;

  @include hover {
    background-color: palette(gold, 9);
  }

  @include active {
    background-color: palette(gold, 7);
  }
}

.Misc {
  background-color: palette(icon);
  flex-shrink: 0;

  @include hover {
    background-color: palette(icon, hover);
  }
}
