@use 'styles' as *;

.PreAlpha {
  @include border-radius(large);
  @include font-size(body-large);
  @include font-weight(bold);
  position: fixed;
  right: spacing(2);
  bottom: spacing(2);
  background-color: palette("black");
  padding: spacing(0.5) spacing(1);
}

.Fullscreen {
  display: none;
}
