@use 'styles' as *;

.Layout {
  display: flex;
  flex-direction: column;
  max-width: rem(2000px);
  margin: 0 auto;
  padding: spacing(1.5) spacing(1);
}

@include screen(650px) {
  .Layout {
    padding: spacing(1.5) spacing(3);
  }
}

@include screen(1000px) {
  .Layout {
    flex-direction: row;
  }
}
