.Navbar {
  height: 50px;
  margin-bottom: 20px;
  background-color: #354A72;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.Navbar a {
  text-decoration: none;
  color: white;
}