.Navbar {
  height: 50px;
  margin-bottom: 50px;
  background-color: #354A72;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

/* TODO: Kind of a hack here */
.Navbar .Login Button:first-child {
  margin-right: 10px;
}