.Watch .VideoWrapper {
  width: 60%;
}

.Watch .VideoWrapper video {
  width: 100%;
}

.Watch .VideoWrapper .Details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Watch .VideoWrapper .Actions .Subscribe {
  margin-right: 10px;
}