@use 'styles' as *;

.Ipfs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'icon'
    'heading'
    'paragraph';

  margin: spacing(10) 0;
  padding: spacing(10) 0;
  align-items: center;
  text-align: center;

  h3 {
    color: palette(white);
    margin-bottom: spacing(2);
    grid-area: heading;
  }
}

.Stars {
  @include expand(absolute);
  z-index: -1;
  margin: 0 -50vw;
  background: linear-gradient(to bottom, #041727 0, #062b3f 100%);
}

.Icon {
  @include center;
  font-size: rem(140px);
  grid-area: icon;
}

.Text {
  @include elevation(2);
  @include border-radius(base);
  background-color: palette(overlay, opaque);
  padding: spacing(2);
  grid-area: paragraph;

  & > p:not(:first-of-type) {
    margin-top: spacing(2);
  }
}

@include screen(800px) {
  .Ipfs {
    grid-template-columns: 0.6fr 1fr;
    grid-template-areas:
      'icon paragraph'
      'heading paragraph';

    h3 {
      margin-bottom: 0;
    }
  }

  .Icon {
    font-size: rem(200px);
  }
}
