@use 'sass:color';
@use 'styles' as *;

.Controls {
  display: flex;
  align-items: stretch;
  height: rem(39px);
}

.Section {
  @include expand();
  display: flex;
  flex-grow: 1;
  align-items: stretch;
}

.Playback {
  justify-content: flex-start;
}

.Settings {
  justify-content: flex-end;
}

.Progress {
  @include center;
  @include text-tabular-nums;
  @include font-size(body);
  padding: 0 spacing(1);
}
